Vani
.line_height{
    line-height: 2.0em;
}
table{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    width:100%;
    font-size: 24px !important;
    border: none !important;
}
table td{
    border: none !important;
}
.img-responsive
{
    margin-top: -4px;
    width: 80px !important;
    height: 95px !important;
    text-align: right !important;
    float: right !important;
}
.stu_photo_height{
    height: 100px !important;
    border: none !important; 
    text-align: right !important;
}
.sem_one_print_credit_points
{
    padding-left: 25px;
}
.print_credit_points_add
{
    padding-left: 35px;
}

.cumulative_row
{
    padding-left: 45px !important;
    width: 30px !important;
    margin-top: -4px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
    margin-left: -20px !important;
}

.cumulative_row td
{
    padding-bottom: 6px;
}
.margin_right
{
    padding-right: 5px;
}
.date_style
{
    text-align: center !important;
    padding-left: 36px !important;
    padding-top: 29px;
}
.date_style_ug
{
    text-align: center !important;
    padding-left: 36px !important;
    padding-top: 25px;
}
.make_bold_font
{
    font-weight: bold !important;
}
.head_right_tags
{
    padding-right: -6px !important;
}
#print_trimester
{
    padding-top: -35px; 
    text-align: center;
}
#no_print_trimester
{
     padding-top: 40px !important; 
     text-align: center;
}
.stu_sub_gap
{
    height: 100px !important;
}
.print_credit_points,.print_cumulative_credit_points,.sem_credits_print_row, .arrear_sem_credits
{
    text-align: center !important;
}
.print_cumulative_credit_points_cgpa
{
    text-align: center !important;
}
.sem_8
{
    text-align: center !important;
}
.subjects_row
{
    line-height: 1.2em;
}
.put_margin
{
    padding-left:  5px !important;
}
.additional_credits
{
    padding-left: -5px !important;
    font-weight: bold !important;
    width: 450px;
    font-size: 8px !important;
}
.part_no_print,.part_no_print_1
{
    text-align: center !important;
    font-weight: bold !important;
    font-size: 25px !important; 
    padding-bottom: 12px !important;
    padding-left: -10px !important;
}
.partno
{
    padding-left: -15px ;

}
.tot_gp_pg
{
    padding-left: -5px ;

}
.tot_gp_pg1
{
    padding-right: -15px ;

}
.tot_gp_pg2
{
    padding-left: 1px ;

}

.disp_ese
{
    padding-left: 10px ;

}
.disp_cia
{
    padding-right: -85px ;

}
.part_no_print
{

 padding-top:-3px !important;

}




.push_down
{
    height: 55px !important;
}
.body_print_marks
{
    font-size: 20px !important;
    line-height: 1.9em
}

.put_margin_pg
{
    padding-left:  15px !important;
    text-align: left !important;
}
.part_no_print_pg
{
    text-align: center !important;
    font-weight: bold !important;
    font-size: 25px !important; 
    padding-bottom: 20px !important;
    padding-left: 50px !important;
}
.subject_code
{
    
     padding-right: 1px !important;
}

.subject_code1
{
    
     padding-left: 1px !important;
}
.sem
{
    padding-left: 3px;
}
.credits
{
    padding-left: 5px;
}

.line_height{
    line-height: 2.0em;
}
table{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    width:100%;
    font-size: 24px !important;
    border: none !important;
}
table td{
    border: none !important;
}
.img-responsive
{
    margin-top: -4px;
    width: 80px !important;
    height: 95px !important;
    text-align: right !important;
    float: right !important;
}
.stu_photo_height{
    height: 100px !important;
    border: none !important; 
    text-align: right !important;
}
.sem_one_print_credit_points
{
    padding-left: 25px;
}
.print_credit_points_add
{
    padding-left: 35px;
}

.cumulative_row
{
    padding-left: 45px !important;
    width: 30px !important;
    margin-top: -4px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
    margin-left: -20px !important;
}

.cumulative_row td
{
    padding-bottom: 6px;
}
.margin_right
{
    padding-right: 5px;
}
.date_style
{
    text-align: center !important;
    padding-left: 36px !important;
    padding-top: 29px;
}
.date_style_ug
{
    text-align: center !important;
    padding-left: 36px !important;
    padding-top: 25px;
}
.make_bold_font
{
    font-weight: bold !important;
}
.head_right_tags
{
    padding-right: -6px !important;
}
#print_trimester
{
    padding-top: -35px; 
    text-align: center;
}
#no_print_trimester
{
     padding-top: 40px !important; 
     text-align: center;
}
.stu_sub_gap
{
    height: 100px !important;
}
.print_credit_points,.print_cumulative_credit_points,.sem_credits_print_row, .arrear_sem_credits
{
    text-align: center !important;
}
.print_cumulative_credit_points_cgpa
{
    text-align: center !important;
}
.sem_8
{
    text-align: center !important;
}
.subjects_row
{
    line-height: 1.2em;
}
.put_margin
{
    padding-left:  5px !important;
}
.additional_credits
{
    padding-left: -5px !important;
    font-weight: bold !important;
    width: 450px;
    font-size: 5px !important;
}
.part_no_print,.part_no_print_1
{
    text-align: center !important;
    font-weight: bold !important;
    font-size: 25px !important; 
    padding-bottom: 12px !important;
    padding-left: -10px !important;
}
.part_no_print_1
{
    padding-bottom: -15px !important;

}
.part_no_print
{

 padding-top:-40px !important;

}


.push_down
{
    height: 55px !important;
}
.body_print_marks
{
    font-size: 20px !important;

    
}
/*.body_print_marks //for additional credits sub count incrase using this class//
{
    font-size: 18px !important;
}*/

.put_margin_pg
{
    padding-left:  10px !important;
    text-align: left !important;
}
.part_no_print_pg
{
    text-align: center !important;
    font-weight: bold !important;
    font-size: 25px !important; 
    padding-bottom: 5px !important;
    padding-left: 50px !important;
}
.subject_code
{
    
     padding-right: -20px !important;
}

.credits
{
    
     padding-right: 65px !important;
}


.cia
{
    padding-right: -5px  !important;

}
.cia_max
{
    padding-left: -5px  !important;

}
.pub
{
    padding-left: 13px  !important;

}
.subname
{
     padding-right: 15px  !important;

}
.cs
{
    padding-top:5px;
}
