.line_height{
    line-height: 1.9em;
}
table{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    width:100%;
    font-size: 15.9px !important;
}

table td{
    border: none !important;
}
.subjects_tables
{
    font-size: 16px !important;
    line-height: 0.60em;
}
.gap_subjects_tables
{
    line-height: 1px !important;
}
.print_credit_points
{
    padding-left: 15px;
    font-size: 14px;
}
.print_credit_points_add
{
    padding-left: 35px;
    font-size: 14px;
}
.cumulative_row
{
	padding-left: 65px !important;
	width: 30px !important;
    font-size: 14px;
    margin-top: -90px !important;
    margin-left: -15px !important;
}
.margin_right
{
	padding-right: 5px;
}
.date_style
{
	padding-left: 35px !important;
    padding-top: 73px !important;
}
.print_tri_sem{
    font-weight: bold; 
    font-size: 12px; 
    padding-top: 0px; 
    text-align: center;
    margin-top: -12px !important;
    padding-top: -12px !important;
}
.cumulative_credits
{
    height: 60px;
    padding-top: 165px !important ;
}
.cumulative_cgpa
{
    padding-right: 40px !important;
    margin-left: -15px !important;
    padding-left: -15px !important;
}
.print_classification
{
    padding-right: 72px !important;
    font-size: 12px !important;
}
.sem_print
{
    width: 35px;
    padding-left: 4px;
}
.print_mba
{
    padding-top: 70px !important;
    margin-left: 45px !important;
    font-weight: bold !important;
    font-size: 15px !important;
    padding-right: -48px !important;
    letter-spacing: 0.04em;
    text-align: right !important;
    border: none; 
}
.take_top
{
    margin-top: -13px !important;
}
.end_of_statement
{
    font-size: 11px !important;
    font-weight: bold !important;
    text-align: center !important; 
}
.additional_credits_print
{
    font-weight: bold !important; 
    font-size: 9px !important;
    text-align: left !important;
    padding-left: 30px !important;
    width: 500px !important;
}
.header_print_stu
{
    padding-top: 28px; 
    padding-bottom:-6px; 
    border: none;
    text-transform: uppercase;
}
.line_height_subjects_tables
{
    padding-bottom: 180px; 
   
}
.class_height
{
    padding-top: 10px;
}

.student_name
{
    font-weight: bold !important;
    font-size: 19px ;
    text-align: center !important;
    padding-top: 10px;
}
.credit_points
{
     padding-right:  35px;
}
.ese_max_disp
{
     padding-left:  -25px;
}
.cia_max_disp
{
     padding-right:  20px;
}
.total_max_disp
{
     padding-right:  20px;
}
.disp_ese
{
     padding-right:  20px;
}

.disp_cia
{
    padding-right:  25px; 
}
.total_disp_res
{
    padding-right:  15px; 
}
.print_month_year
{
    padding-left: 15px;
}
.line_height_print_cgpa_size
{
    
    padding-top: 155px;
    
    font-weight: bold !important;
}
.subject_code
{
    padding-left: 10px;
}
.subject_name
{
    padding-left: 10px;
}
.change_cumulative_normal
{
    padding-top: 100px;
    font-weight: bold !important;
}
.change_cumulative_1
{
    padding-top: 22px;
    font-weight: bold !important;
}