.line_height{
    line-height: 1.6em;
}
table {
    font-family:'Arial Black', Gadget, sans-serif; 
    width:100%;
    font-size: 13px !important;
    border: none !important;
    padding-top: 23.1%;
    font-weight: bold;
}
table td{
    border: none !important;
    text-align: left;
}
table td.bring_down
{
    padding-bottom: 35px;
}
table td.print_image
{
    height: 150px !important; 
    text-align: right;
}
table td.date_right
{
    padding-left: 90px;
    padding-top: 8px;
    height: 180px;
}
table td.serial_no
{
    padding-left: 120px;
    height: 60px !important;
}
table td.reg_no
{
    padding-left: 25px;
    padding-top: -36px;
}
table td.name
{
    height: 58px !important;
     padding-top: -20px;
}
table td.pname
{
    height: 15px !important;
    padding-top: -16px;
}
table td.dob
{
    height: 80px;
    padding-top: -25px;
}
table td.rel
{
    height: 45px !important;
    padding-top: -26px;
}
table td.refer
{
    height: 52px !important;
    padding-top: -12px;
}
table td.adm
{
    height: 52px !important;
    padding-top: -26px;
}
table td.stud
{
    height: 48px !important;
    padding-top: -32px;
}
table td.reason
{
    height: 75px !important;
    padding-top: -24px;
}
table td.mark
{
    height: 0px !important;
    padding-top: -28px;
}
table td.cond
{
    height: 100px !important;
    padding-top: -25px;
}
table td.dleft
{
    height: 0px !important;
    padding-top: -38px;
}
table td.dapp
{
    height: 100px !important;
    padding-top: -29px;
   
}
table td.eng
{
    height: 5px !important;
    padding-top: -18px;
}
